<h1>Listing services</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Item description</th>
    <th>Est dollar</th>
    <th>Est by</th>
    <th>Save old parts</th>
    <th>Number of items</th>
    <th>Status</th>
    <th>Color</th>
    <th>Model</th>
    <th>Make</th>
    <th>Due date</th>
    <th>Completion signature</th>
    <th>Ready and notified date</th>
    <th>Work performed by</th>
    <th>Estimate</th>
    <th>Customer comments</th>
    <th>Authorized</th>
    <th>Call customer if repair exceeds amount</th>
    <th>Mechanics comments and recommendations</th>
    <th>Safety warning signature</th>
    <th>Safety warning date</th>
    <th>Safety warning listed</th>
    <th>Safety warning accepted</th>
    <th>Parts total</th>
    <th>Labor total</th>
    <th>Tax</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.customer %></td>
    <td><%= service.item_description %></td>
    <td><%= service.est_dollar %></td>
    <td><%= service.est_by %></td>
    <td><%= service.save_old_parts %></td>
    <td><%= service.number_of_items %></td>
    <td><%= service.status %></td>
    <td><%= service.color %></td>
    <td><%= service.model %></td>
    <td><%= service.make %></td>
    <td><%= service.due_date %></td>
    <td><%= service.completion_signature %></td>
    <td><%= service.ready_and_notified_date %></td>
    <td><%= service.work_performed_by %></td>
    <td><%= service.estimate %></td>
    <td><%= service.customer_comments %></td>
    <td><%= service.authorized %></td>
    <td><%= service.call_customer_if_repair_exceeds_amount %></td>
    <td><%= service.mechanics_comments_and_recommendations %></td>
    <td><%= service.safety_warning_signature %></td>
    <td><%= service.safety_warning_date %></td>
    <td><%= service.safety_warning_listed %></td>
    <td><%= service.safety_warning_accepted %></td>
    <td><%= service.parts_total %></td>
    <td><%= service.labor_total %></td>
    <td><%= service.tax %></td>
    <td><%= service.total %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
