<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Address:</b><br />
  <%= @customer.address %><br />
  <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %><br />
</p>

<p>
  <b>Home phone:</b>
  <%= @customer.home_phone %><br />
  <b>Work phone:</b>
  <%= @customer.work_phone %><br />
  <b>Email:</b>
  <%= @customer.email %><br />
  <b>Mailing list:</b>
  <%= @customer.mailing_list %>
</p>

<%= render "services/list_table" %>

<%= link_to 'Edit Customer', edit_customer_path(@customer) %>
